.root {
  color: var(--gray-900);
}

.row {
  display: flex;
}

.column {
  min-height: 500px;
  padding: var(--spacing-24) 0;
}

.leftColumn {
  flex-basis: 70%;
  padding-right: var(--spacing-32);
  padding-left: var(--spacing-32);

  background-color: var(--gray-100);
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;

  h4 {
    color: var(--gray-500);
    font-size: var(--text-xs);
    font-weight: 700;
  }
}

.leftColumn .header {
  margin-bottom: var(--spacing-48);
}

.fieldName {
  margin-bottom: var(--spacing-32);

  input {
    width: 100%;
    padding: 0;
    padding-bottom: var(--spacing-8);

    color: var(--gray-700);
    font-size: var(--title-sm);
    font-weight: 600;

    background: initial;
    border: 0;
    border-bottom: 1px solid var(--gray-300);
    border-radius: 0;

    box-shadow: initial;

    &:focus {
      border-color: transparent;

      box-shadow: initial;
    }

    &::placeholder {
      color: var(--gray-400);
    }
  }
}

.description {
  margin-bottom: var(--spacing-48);
}

.switches {
  display: flex;
  margin-bottom: var(--spacing-12);

  font-size: var(--text-xs);
  font-weight: 600;

  span {
    padding: var(--spacing-4) var(--spacing-12);
    margin-right: var(--spacing-4);

    color: var(--gray-600);

    border: 1px solid transparent;
    border-radius: 6px;
    cursor: pointer;

    &.active {
      color: var(--gray-900);

      background-color: #fff;
      border-color: var(--gray-300);
      cursor: initial;

      box-shadow: $shadow-xs;
    }
  }
}

.fieldDescription {
  /* box-shadow: $shadow-sm; */

  textarea {
    width: 100%;
    height: 150px;
    padding: var(--spacing-16);

    color: var(--gray-700);
    font-size: var(--text-md);
    font-weight: 500;

    border-bottom: 0;
    border-color: var(--gray-200);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    resize: none;

    &:focus {
      border-color: var(--gray-200);

      box-shadow: none;
    }

    &::placeholder {
      color: var(--gray-400);
      font-size: var(--text-sm);
      font-weight: 500;
    }
  }

  .info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: var(--spacing-12);

    color: var(--gray-400);
    font-size: var(--text-xs);
    font-weight: 500;

    background-color: #fff;
    border: 1px solid var(--gray-200);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

    box-shadow: $shadow-xs;
  }

  code span {
    margin-right: var(--spacing-12);
  }
}

.infoActions {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.infoAction {
  margin-right: var(--spacing-8);

  font-size: 0;

  cursor: pointer;
}

.attachment {
  svg path {
    fill: var(--gray-400);
  }
}

.emoji {
  svg path {
    stroke: var(--gray-400);
  }
}

.tabs {
  display: flex;
  margin-bottom: var(--spacing-12);

  font-size: var(--text-xs);
  font-weight: 600;

  span {
    padding: var(--spacing-4) var(--spacing-12);
    margin-right: var(--spacing-4);

    color: var(--gray-600);

    border: 1px solid transparent;
    border-radius: 6px;
    cursor: pointer;

    &.active {
      color: var(--gray-900);

      background-color: #fff;
      border-color: var(--gray-300);
      cursor: initial;

      box-shadow: $shadow-sm;
    }
  }
}

.rightColumn {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}

.rightColumn .header {
  display: flex;
  align-items: center;
  padding-right: var(--spacing-24);
  padding-bottom: var(--spacing-12);
  padding-left: var(--spacing-24);

  color: var(--gray-500);

  border-bottom: 1px solid var(--gray-200);

  h4 {
    margin-left: var(--spacing-4);

    font-size: var(--text-xs);
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  svg path {
    stroke: var(--gray-500);
  }
}

.rightColumn .actions {
  display: flex;
  justify-content: flex-end;
  padding-right: var(--spacing-24);
  padding-left: var(--spacing-24);
  margin-top: auto;
}

.actions button {
  min-width: 90px;
  padding: var(--spacing-4) var(--spacing-8);

  font-size: var(--text-xs);
}

.cancelButton {
  margin-right: var(--spacing-8);
}

.createButton {
  span {
    margin-left: var(--spacing-4);
  }

  svg path {
    stroke: #fff;
  }
}
