.root {
  color: var(--gray-900);
}

.header {
  padding: 30px;

  border-bottom: 1px solid var(--gray-200);
}

.title {
  font-size: 28px;
  font-weight: 700;
}

.content {
  padding-right: 40px;
  padding-left: 40px;
  margin-bottom: 30px;
}

.footer {
  padding-right: 40px;
  padding-bottom: 30px;
  padding-left: 40px;
}

.fieldName {
  margin-bottom: 20px;
}

.labelField {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  color: var(--gray-400);
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;

  svg {
    margin-right: 6px;
  }

  path {
    fill: var(--gray-400);
  }
}

.textField {
  textarea {
    width: 100%;
    height: 200px;
    padding: 0;

    font-size: 14px;
    font-weight: 500;
    line-height: 30px;

    border: 0;

    box-shadow: initial;

    resize: none;

    &::placeholder {
      color: var(--gray-300);
      font-size: 16px;
    }

    &:focus {
      box-shadow: initial;
    }
  }
}

.options {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  margin-bottom: 30px;

  border-bottom: 1px solid var(--gray-100);
}

.descriptionWrapper {
  min-height: 150px;
  margin-bottom: 60px;
}

.description {
  font-size: 14px;
  line-height: 28px;
}

.attachmentsWrapper {
  color: var(--gray-500);
  font-size: 14px;

  .attachmentIcon {
    margin-right: 6px;
  }

  .attachmentIcon path {
    fill: var(--gray-500);
  }
}

.attachmentsHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  font-weight: 600;

  span {
    display: flex;
    align-items: center;
  }

  button {
    display: flex;
    padding: 0;

    color: var(--gray-500);

    background: initial;
    border: 0;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }
}

.attachments {
  display: flex;
  justify-content: center;
  padding: 40px 0;

  color: var(--gray-300);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;

  text-transform: uppercase;

  background-color: var(--gray-50);
  border-radius: 6px;
}

.actions {
  display: flex;
  justify-content: flex-end;

  button {
    height: 38px;
    min-width: 80px;
  }
}
