.root {
  height: calc(100vh - 250px);
  padding-right: 20px;
  padding-bottom: 20px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 4px;

    border-radius: 6px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb {
    height: 100px;

    background-color: var(--gray-200);
    border-radius: 10px;
  }
}
