.root {
  position: relative;

  width: 100%;
  min-width: 200px;
  padding: var(--spacing-16) var(--spacing-8);
  margin-bottom: var(--spacing-16);
  overflow: hidden;

  background-color: #fff;
  border: 1px solid var(--gray-200);
  border-radius: 8px;
  cursor: pointer !important;

  box-shadow: $shadow-md;
  transition-duration: 0.3s;
  transition-property: box-shadow;
  transition-timing-function: linear;

  &:hover {
    box-shadow: $shadow-xl;
  }

  &.dragging {
    position: relative;

    border-color: var(--gray-300);
    border-style: dashed;

    opacity: 0.7;
    cursor: grabbing;
  }
}

.content {
  margin-top: 20px;
}

.descriptionWrapper {
  max-height: 55px;
  margin-bottom: 20px;
  overflow: hidden;
}

.description {
  color: var(--gray-400);
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;

  ul,
  ol {
    padding: 0;

    list-style: none;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.type {
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;

  color: #fff;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;

  border-radius: 4px;

  &.task {
    color: var(--task-text);

    background-color: var(--task-bg);
  }

  &.bug {
    color: var(--bug-text);

    background-color: var(--bug-bg);
  }

  &.feature {
    color: var(--feature-text);

    background-color: var(--feature-bg);
  }

  &.improvement {
    color: var(--improvement-text);

    background-color: var(--improvement-bg);
  }
}

.participant {
  img {
    width: 24px;
    height: 24px;

    border: 1px solid var(--gray-900);
    border-radius: 50%;
  }
}

.footer {
  display: flex;
  padding-top: 15px;
  margin-top: 20px;

  border-top: 1px solid var(--gray-200);
}

.meta {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.metaItem {
  display: flex;
  align-items: center;
  margin-right: 15px;

  color: var(--gray-400);
  font-size: 10px;
  font-weight: 700;

  &:last-child {
    margin-right: 0;
  }

  svg path {
    stroke: var(--gray-400);
  }

  span {
    margin-left: 3px;
  }

  &.attachment svg path {
    fill: var(--gray-400);
  }
}
