.root {
  display: flex;
  flex-direction: column;
  width: 280px;

  border-right: 1px solid var(--gray-100);
}

.logo {
  display: flex;
  align-items: center;
  height: 85px;
  padding-left: 30px;
  margin-bottom: 45px;

  color: var(--gray-600);
  font-size: 26px;
  font-weight: 800;
  text-decoration: none;

  border-bottom: 1px solid var(--gray-100);

  span {
    padding: 2px 10px;
    margin-right: 3px;

    color: #fff;
    font-size: 28px;

    background-color: var(--primary-600);
    border-radius: 6px;
  }
}

.content {
  padding-right: 20px;
  padding-left: 20px;
}

.menuItem {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 8px;

  color: var(--gray-700);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;

  border-radius: 8px;

  &:hover {
    background-color: var(--gray-100);
  }

  &:last-child {
    margin-bottom: 0;
  }

  svg {
    margin-right: 10px;

    path {
      fill: var(--gray-500);
    }
  }
}

.menuItem.active {
  background-color: var(--gray-100);

  &:hover {
    opacity: initial;
    cursor: initial;
  }
}
