.root {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 20px;

  background-color: var(--secondary-color);
}

.logo {
  margin-bottom: 105px;
}

.menuItem {
  display: flex;
  align-items: center;
  padding: 6px 15px;
  margin-bottom: 16px;

  color: #99a9c4;
  font-size: 20px;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:last-child {
    margin-bottom: 0;
  }

  svg {
    margin-right: 10px;

    path {
      fill: #99a9c4;
    }
  }
}

.menuItem.active {
  color: #fff;

  background-color: var(--primary-color);
  border-radius: 10px;

  &:hover {
    opacity: initial;
    cursor: initial;
  }

  svg {
    path {
      fill: #fff;
    }
  }
}
