.root {
  position: relative;

  width: 100%;
  max-width: 220px;
}

.headerProfile {
  display: flex;
  align-items: center;
  padding: 10px 12px;

  border: 1px solid #eee;
  border-radius: 10px;
}

.prefix {
  margin-right: 5px;
  margin-left: 5px;
}

.name {
  width: 100%;
  max-width: 90px;
  overflow: hidden;

  font-weight: 500;
  text-overflow: ellipsis;
}

.dropdown {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  width: 100%;

  background-color: #fff;
  border: 1px solid #eee;
  border-top: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  opacity: 0;
  pointer-events: none;

  transform: translateY(41px);
  transition: all linear 0.2s;
}

.dropdownItem {
  &:first-child {
    padding-top: 20px;
    margin-top: 10px;

    border-top: 1px solid #eee;
  }
}

.dropdownItem a {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  margin-bottom: 16px;

  color: #333;
  font-size: 16px;
  text-decoration: none;

  transition: opacity linear 0.3s;

  svg {
    margin-right: 10px;

    transition: transform linear 0.2s;
  }

  &:hover {
    opacity: 0.6;

    svg {
      transform: rotate(180deg);
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.arrowIcon {
  margin-left: auto;

  transition: transform linear 0.2s;
}

.root:hover {
  .dropdown {
    opacity: 1;
    pointer-events: initial;

    transform: translateY(46px);
  }

  .arrowIcon {
    transform: rotate(180deg);
  }
}
