.root {
  position: relative;

  padding: var(--spacing-8) var(--spacing-8);

  border: 1px solid transparent;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;

  transition: all 0.3s linear;

  &:hover {
    border-color: var(--gray-200);

    .dropdown {
      opacity: 1;
      pointer-events: initial;

      transform: translateY(17px);
    }

    .iconWrapper {
      transform: rotate(-180deg);
    }
  }
}

.header {
  display: flex;
  align-items: center;

  font-size: var(--text-sm);
  font-weight: 500;
  line-height: var(--text-lh-sm);
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: var(--spacing-12);
}

.name {
  color: var(--gray-700);
  text-transform: capitalize;
}

.email {
  color: var(--gray-500);
}

.iconWrapper {
  margin-left: var(--spacing-8);

  transition: transform 0.2s ease-out;

  svg path {
    stroke: var(--gray-500);
  }
}

.dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  left: -1px;
  z-index: 3;

  width: calc(100% + 2px);

  font-size: var(--text-sm);
  font-weight: 400;
  line-height: var(--text-lh-sm);

  background-color: var(--white);
  border: 1px solid var(--gray-200);
  border-top: 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  opacity: 0;
  pointer-events: none;

  box-shadow: $shadow-lg;

  transition: all 0.2s ease-out;

  hr {
    height: 1px;

    background-color: var(--gray-200);
    border: none;
  }
}

.actions {
  padding: 0;
  margin: 0;

  list-style: none;
}

.actionItem {
  display: flex;
  align-items: center;
  padding: var(--spacing-8) var(--spacing-12);

  cursor: pointer;

  transition: color 150ms ease-out;

  &:hover {
    color: var(--primary-700);

    path {
      stroke: var(--primary-700);
    }
  }

  svg path {
    transition: stroke 150ms ease-out;
  }
}

.actionItemIcon {
  margin-right: var(--spacing-12);

  line-height: 0;
}
