.header {
  position: sticky;
  top: 0;
  z-index: 2;

  padding: var(--spacing-16) var(--spacing-12);
  margin-bottom: var(--spacing-12);

  background-color: var(--white);
  border-radius: 6px;

  box-shadow: $shadow-md;
}

.title {
  color: var(--gray-600);
  font-size: var(--text-xs);
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.tasksCounter {
  margin-left: 5px;

  color: var(--gray-400);
  font-weight: 800;
}

.content {
  height: 100%;
  padding: var(--spacing-8) var(--spacing-8);

  background-color: var(--gray-50);
  border: 1px dashed var(--gray-200);
  border-radius: 6px;
}
