:root {
  --white: #fff;
  --black: #000;
  --primary-color: #3284ff;
  --secondary-color: #f5f7f9;
  --thirdly-color: #99a9c445;

  /* Primary */
  --primary-25: #f5f8ff;
  --primary-50: #eff4ff;
  --primary-100: #d1e0ff;
  --primary-200: #b2ccff;
  --primary-300: #84adff;
  --primary-400: #528bff;
  --primary-500: #2970ff;
  --primary-600: #155eef;
  --primary-700: #004eeb;
  --primary-800: #0040c1;
  --primary-900: #00359e;

  /* Gray */
  --gray-25: #fcfcfd;
  --gray-50: #f9fafb;
  --gray-100: #f2f4f7;
  --gray-200: #eaecf0;
  --gray-300: #d0d5dd;
  --gray-400: #98a2b3;
  --gray-500: #667085;
  --gray-600: #475467;
  --gray-700: #344054;
  --gray-800: #1d2939;
  --gray-900: #101828;

  /* Badges */
  --task-bg: #f2f4f7;
  --task-text: #344054;
  --bug-bg: #fee4e2;
  --bug-text: #b42318;
  --feature-bg: #eff8ff;
  --feature-text: #175cd3;
  --improvement-bg: #ecfdf3;
  --improvement-text: #027a48;

  /* UI */
  --text-color: var(--gray-900);
}
