.root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  padding: var(--spacing-8) var(--spacing-16);

  color: var(--white);
  font-size: var(--text-sm);
  font-weight: 500;
  line-height: var(--text-lh-sm);

  background-color: var(--primary-600);
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;

  transition: all 150ms ease-out;

  &:hover {
    opacity: 0.6;
  }
}

.secondary {
  color: var(--gray-700);

  background-color: initial;
  border-color: var(--gray-300);
}

.primary {
  svg,
  path {
    fill: #fff;
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
