.root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  padding: 6px 12px;

  color: #fff;
  font-family: inherit;
  font-size: 16px;
  line-height: inherit;

  background-color: var(--primary-color);
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;

  transition: all linear 0.3s;

  &:hover {
    opacity: 0.6;
  }
}

.secondary {
  color: #99a9c4;

  background-color: initial;
  border-color: #eee;
}

.primary {
  svg,
  path {
    fill: #fff;
  }
}
