.root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  padding: 6px 12px;

  color: #fff;
  font-size: 16px;
  line-height: inherit;

  background-color: var(--primary-500);
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;

  transition: all linear 0.3s;

  &:hover {
    opacity: 0.6;
  }
}

.secondary {
  color: var(--gray-700);

  background-color: initial;
  border-color: var(--gray-300);
}

.primary {
  svg,
  path {
    fill: #fff;
  }
}
