.root {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 6px;

  color: var(--gray-700);
  font-size: 14px;
  font-weight: 500;
}

.textarea {
  width: 320px;
  height: 128px;
  padding: 10px 14px;

  color: var(--gray-900);

  border: 1px solid var(--gray-300);
  border-radius: 8px;

  box-shadow: 0 1px 2px rgb(16 24 40 / 5%);
  transition: box-shadow linear 0.3s;

  &::placeholder {
    color: var(--gray-500);
  }

  &:focus {
    outline: 0;

    box-shadow: 0 1px 2px rgb(16 24 40 / 5%), 0 0 0 4px var(--primary-50);
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    min-height: 200px;

    background-color: var(--thirdly-color);
    border-radius: 10px;
  }
}
