.root {
  padding-right: 30px;
  padding-left: 30px;
}

.content {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  border-bottom: 2px solid var(--secondary-color);
}

.headerProfile {
  margin-left: auto;
}
