.content {
  display: flex;
  align-items: center;
  padding: var(--spacing-20) var(--spacing-16);

  border-bottom: 1px solid var(--gray-200);
}

.right {
  display: flex;
  margin-left: auto;
}

.addButton {
  align-self: center;
  min-width: initial;
  padding-left: var(--spacing-20);
  margin-right: var(--spacing-24);

  color: var(--white);
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.iconWrapper {
  margin-right: var(--spacing-4);

  font-size: 0;
  line-height: initial;

  svg path {
    stroke: var(--white);
  }
}
