.content {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;

  border-bottom: 1px solid var(--gray-200);
}

.right {
  display: flex;
  margin-left: auto;
}

.addButton {
  min-width: initial;
  margin-right: 20px;

  color: var(--primary-color);
  font-size: 14px;
  font-weight: 500;

  background: initial;
  border-color: var(--gray-200);

  svg {
    margin-right: 4px;
  }

  path {
    fill: var(--primary-color);
  }
}
