.root {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
}

.main {
  display: grid;
  grid-template-rows: auto 1fr;
}

.content {
  position: relative;

  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 0;
  padding-left: 30px;
}
