.root {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
}

.main {
  display: grid;
  grid-template-rows: auto 1fr;
}

.content {
  position: relative;

  padding-top: var(--spacing-24);
  padding-right: var(--spacing-16);
  padding-bottom: 0;
  padding-left: var(--spacing-16);

  background-color: var(--gray-25);
}
