.taskModal {
  max-width: 900px;
  padding: 0;

  color: var(--gray-900);
}

.content {
  padding: 30px;
}

.descriptionLabel {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  color: var(--gray-400);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  svg {
    margin-right: 6px;
  }

  path {
    fill: var(--gray-400);
  }
}

.descriptionWrapper {
  min-height: 150px;
  margin-bottom: 60px;
}

.description {
  font-size: 14px;
  line-height: 28px;
}

.attachmentsWrapper {
  color: var(--gray-500);
  font-size: 14px;

  .attachmentIcon {
    margin-right: 6px;
  }

  .attachmentIcon path {
    fill: var(--gray-500);
  }
}

.attachmentsHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  font-weight: 600;

  span {
    display: flex;
    align-items: center;
  }

  button {
    display: flex;
    padding: 0;

    color: var(--gray-500);

    background: initial;
    border: 0;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }
}

.attachments {
  display: flex;
  justify-content: center;
  padding: 40px 0;

  color: var(--gray-300);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;

  text-transform: uppercase;

  background-color: var(--gray-50);
  border-radius: 6px;
}
