.taskModal {
  max-width: 900px;
  padding: 0;

  color: var(--gray-900);
}

.header {
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;

  border-bottom: 1px solid var(--gray-200);
}

.content {
  padding: 30px;
  padding-bottom: 40px;
}

.titleLabel,
.descriptionLabel {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  color: #7c818d;
  color: var(--gray-500);
  font-size: 16px;
  font-weight: 500;

  svg {
    margin-right: 6px;
  }

  path {
    fill: var(--gray-500);
  }
}

.title {
  width: 90%;
  margin-bottom: 30px;

  font-size: 24px;
  font-weight: 500;
}

.options {
  display: flex;
}

.option {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.optionLabel {
  margin-bottom: 6px;

  color: var(--gray-500);
  font-size: 12px;
  font-weight: 500;
}

.optionValue {
  font-size: 12px;

  text-transform: capitalize;
}

.optionValueList {
  display: flex;
  align-items: center;
}

.participant {
  width: 24px;
  height: 24px;
  margin-right: 4px;

  border: 1px solid var(--gray-900);
  border-radius: 50%;

  &:last-child {
    margin-right: 0;
  }
}

.descriptionWrapper {
  margin-bottom: 60px;
}

.description {
  font-size: 14px;
  line-height: 28px;
}

.attachmentsWrapper {
  color: var(--gray-500);
  font-size: 14px;

  svg {
    margin-right: 6px;
  }

  svg path {
    fill: var(--gray-500);
  }
}

.attachmentsHeader {
  display: flex;
  justify-content: space-between;

  font-weight: 500;

  span {
    display: flex;
    align-items: center;
  }

  button {
    display: flex;
    padding: 0;

    color: var(--gray-500);

    background: initial;
    border: 0;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }
}
